@import "~scss/variables";

.login {
  width: 100%;
  height: calc(100% - 40px);
  background: $primary;
  position: absolute;
  bottom: 0;
  left: 0;

  .login-form {
    width: 300px;
    padding: 40px;
    background: white;
    border-radius: $radius;
    box-shadow: 0 100px 200px rgba(black, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: tada 0.7s cubic-bezier(0.2, 0.8, 0.3, 1.2);

    input {
      margin-bottom: 10px;
    }

  }

}

@keyframes tada {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
