@import "~scss/variables";

.login {
  width: 100%;
  height: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  left: 0;

  .login-form {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    input {
      margin-bottom: 10px;
    }

  }

}
