html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.0;
	color: $grey1;
}

::selection {
	color: white;
  background: $primary;
}

a, a:visited {
	text-decoration: none;
	color: $primary;
	font-weight: 500;
	&:hover {
		color: $primary - 10;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

input, button {
	height: 40px;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	border-radius: $radius;
	outline: none;
}

input {
	width: 100%;
	color: inherit;
	border: 1px solid $grey3;
	padding: 0 10px;
	&::placeholder {
		color: $grey2;
	}
}

button {
	font-weight: 700;
	color: $primary;
	border: 1px solid $primary;
	padding: 0 30px;
	transition: border 0.2s ease-out, color 0.2s ease-out;;
	&:disabled {
		color: $grey3;
		border-color: $grey3;
		cursor: not-allowed;
	}
	&:active {
		transform: translateY(1px) scale(0.99);
	}
}
